In [34]:
%%capture                         
                                  # This capture statement is optional and you can delete it or put a hashtag in front of it.
                                  # Removing it will show all the "chatter" normally produced during import steps. 

# !pip install os
import os                         # os is a module for navigating your machine (e.g., file directories).
# !pip install wheel
# !pip install pandas 
import pandas as pd               # pandas is necessary for working with data frames - shortening it to pd just saves time. 
pd.set_option('display.max_colwidth', 200)   # some of the files are big so set a big column width. 
# !pip install numpy
import numpy as np                # like pandas, numpy is useful and useful to have a short name for
# !pip install statistics
import statistics                 # gotsta have stats
# !pip install matplotlib
import matplotlib as plt          # we are gonna want some plots


# !pip install csv
import csv                        # csv is for importing and working with csv files
import re

In [35]:
# Sorry Jools, I rewrote this for my mac but just comment out my line when you run it!

print(os.listdir("../raw_data")  )     
# print(os.listdir("..\\raw_data")  )  # check 'raw_data' folder is not empty/has correct stuff and to know what is the correct file to import

['focus_groups_0702.csv']

In [36]:
focus_group_respondents = pd.read_csv('../raw_data/focus_groups_0702.csv')  # import the file selected in the previous step
print(len(focus_group_respondents))                                         # check the length of the file
# focus_group_respondents.head(4)

163

In [37]:
print(focus_group_respondents.columns)                                                                     # a quick check to see what the column names look like
focus_group_respondents.columns = focus_group_respondents.columns.to_series().apply(lambda x: x.strip())   # renames the columns the same as what they were but with no trailing white space
print(focus_group_respondents.columns)

Index(['StartDate', 'EndDate', 'Status', 'IPAddress', 'Progress',
       'Duration (in seconds)', 'Finished', 'RecordedDate', 'ResponseId',
       'RecipientLastName', 'RecipientFirstName', 'RecipientEmail',
       'ExternalReference', 'LocationLatitude', 'LocationLongitude',
       'DistributionChannel', 'UserLanguage', 'Q1', 'Q2', 'Q3', 'Q4', 'Q5',
       'Africa', 'UK', 'Europe', 'Americas ', 'Asia/Oceana ', 'Q6.5', 'Q7',
       'Q8'],
      dtype='object')
Index(['StartDate', 'EndDate', 'Status', 'IPAddress', 'Progress',
       'Duration (in seconds)', 'Finished', 'RecordedDate', 'ResponseId',
       'RecipientLastName', 'RecipientFirstName', 'RecipientEmail',
       'ExternalReference', 'LocationLatitude', 'LocationLongitude',
       'DistributionChannel', 'UserLanguage', 'Q1', 'Q2', 'Q3', 'Q4', 'Q5',
       'Africa', 'UK', 'Europe', 'Americas', 'Asia/Oceana', 'Q6.5', 'Q7',
       'Q8'],
      dtype='object')

In [38]:
focus_group_respondents.head()

,StartDate,EndDate,Status,IPAddress,Progress,Duration (in seconds),Finished,RecordedDate,ResponseId,RecipientLastName,...,Q4,Q5,Africa,UK,Europe,Americas,Asia/Oceana,Q6.5,Q7,Q8
0,Start Date,End Date,Response Type,IP Address,Progress,Duration (in seconds),Finished,Recorded Date,Response ID,Recipient Last Name,...,Which country is your organisation based in?,We have a list of focus group sessions. Which of the following regions/time zones would you prefer to see the possible options in?,We currently have focus groups on the following dates in Central Africa Time. Please indicate which of the following you could attend. Tick all that apply.,We currently have focus groups on the following dates in Greenwich Mean Time. Please indicate which of the following you could attend. Tick all that apply.,We currently have focus groups on the following dates in Central European Time. Please indicate which of the following you could attend. Tick all that apply.,We currently have focus groups on the following dates in Eastern Standard Time. Please indicate which of the following you could attend. Tick all that apply.,We currently have focus groups on the following dates in Australian Eastern Daylight Time. Please indicate which of the following you could attend. Tick all that apply.,Please add any further information about your availability if relevant,Please enter your preferred name and pronouns,Are there any accommodations that you would need during the focus group?
1,"{""ImportId"":""startDate"",""timeZone"":""Europe/London""}","{""ImportId"":""endDate"",""timeZone"":""Europe/London""}","{""ImportId"":""status""}","{""ImportId"":""ipAddress""}","{""ImportId"":""progress""}","{""ImportId"":""duration""}","{""ImportId"":""finished""}","{""ImportId"":""recordedDate"",""timeZone"":""Europe/London""}","{""ImportId"":""_recordId""}","{""ImportId"":""recipientLastName""}",...,"{""ImportId"":""QID13_TEXT""}","{""ImportId"":""QID18""}","{""ImportId"":""QID24""}","{""ImportId"":""QID22""}","{""ImportId"":""QID8""}","{""ImportId"":""QID19""}","{""ImportId"":""QID21""}","{""ImportId"":""QID9_TEXT""}","{""ImportId"":""QID6_TEXT""}","{""ImportId"":""QID10_TEXT""}"
2,30/01/2025 11:25,30/01/2025 11:27,IP Address,193.175.238.232,100,145,TRUE,30/01/2025 11:27,R_88ONwSAHVd3ho4I,NaN,...,Germany,Europe - Central European Time,NaN,NaN,"Wednesday 19th March (10:00-11:30),Wednesday 26th March (16:00-17:30)",NaN,NaN,NaN,Deb (she/her),NaN
3,30/01/2025 11:55,30/01/2025 11:58,IP Address,192.87.139.123,100,201,TRUE,30/01/2025 11:58,R_2ozYo7JQqvn14yZ,NaN,...,The Netherlands,Europe - Central European Time,NaN,NaN,"Tuesday 18th March (15:30-17:00),Wednesday 19th March (10:00-11:30),Wednesday 26th March (16:00-17:30)",NaN,NaN,NaN,Ricarda - she/her,no but thanks for asking
4,30/01/2025 12:16,30/01/2025 12:20,IP Address,2.103.233.180,100,241,TRUE,30/01/2025 12:20,R_89ohxfbj7gW6Fgw,NaN,...,UK and US,United Kingdom - Greenwich Mean,NaN,"Tuesday 18th March (14:30-16:00),Wednesday 19th March (09:00-10:30),Wednesday 26th March (15:00-16:30)",NaN,NaN,NaN,NaN,San she/her,No

In [39]:
focus_group_respondents = focus_group_respondents[focus_group_respondents['Finished'] == 'TRUE'].reset_index(drop = True)

In [40]:
responses = focus_group_respondents.loc[:, ['Finished', 'ResponseId',
                                            'Q1', 'Q2', 'Q3', 'Q4', 'Q5', 'Africa', 'UK', 'Europe', 'Americas', 'Asia/Oceana', 'Q6.5', 'Q7','Q8']]

print(len(responses))

149

In [41]:
responses.head()

,Finished,ResponseId,Q1,Q2,Q3,Q4,Q5,Africa,UK,Europe,Americas,Asia/Oceana,Q6.5,Q7,Q8
0,TRUE,R_88ONwSAHVd3ho4I,Deb Wiltshire,GESIS-Leibniz Institute for the Social Ssciences,deborah.wiltshire@gesis.org,Germany,Europe - Central European Time,NaN,NaN,"Wednesday 19th March (10:00-11:30),Wednesday 26th March (16:00-17:30)",NaN,NaN,NaN,Deb (she/her),NaN
1,TRUE,R_2ozYo7JQqvn14yZ,Ricarda Braukmann,DANS,ricarda.braukmann@dans.knaw.nl,The Netherlands,Europe - Central European Time,NaN,NaN,"Tuesday 18th March (15:30-17:00),Wednesday 19th March (10:00-11:30),Wednesday 26th March (16:00-17:30)",NaN,NaN,NaN,Ricarda - she/her,no but thanks for asking
2,TRUE,R_89ohxfbj7gW6Fgw,San Cannon,Cannon Analytics LLC,San@cannonanalyticsllc.com,UK and US,United Kingdom - Greenwich Mean,NaN,"Tuesday 18th March (14:30-16:00),Wednesday 19th March (09:00-10:30),Wednesday 26th March (15:00-16:30)",NaN,NaN,NaN,NaN,San she/her,No
3,TRUE,R_2KW2mNG3pRimy3v,Winny Nekesa AKULLO,National.Social Security Fund,winny.nekesa@yahoo.com,Uganda,Africa - Central Africa Time,"Wednesday 12th March (12:00-13:00),Wednesday 19th March (11:00-12:30),Wednesday 26th March (17:00-18:30)",NaN,NaN,NaN,NaN,NaN,Winny,Not applicable
4,TRUE,R_8gHGMk2rHCF5ahm,Weigang Yan,London Borough of Islington,weigang.yan@islington.gov.uk,UK,United Kingdom - Greenwich Mean,NaN,"Tuesday 18th March (14:30-16:00),Wednesday 19th March (09:00-10:30),Wednesday 26th March (15:00-16:30)",NaN,NaN,NaN,NaN,Yan (pronounce as https://www.youtube.com/watch?v=mBcZjUD_XZs),Is this an offline session?

In [42]:
responses_cleaned = responses.rename(columns={"Q1": "Name", "Q2": "Organisation", "Q3": "Email", "Q4": "Country", "Q5": "TimeZone", "Q6.5": "Any_further_info", "Q7": "Pronouns", "Q8": "Accommodations"})

To sort:

* Drop any rows where key info is missing: name, email, org
* Drop those if they have an email without a name or org? Depends how many
There is no missing values for any of these columns

* Drop those with gmail accounts?
Without, we still have 45 respondents from Africa.

* Drop any rows that have no time slots booked and no comments in the "Other" column
Only 3 values but have been removed.

In [43]:
gmail = responses_cleaned[responses_cleaned.Email.str.contains('gmail')].reset_index(drop = True)

In [44]:
gmail.TimeZone.value_counts()

TimeZone
Africa - Central Africa Time                      64
United Kingdom - Greenwich Mean                    2
Asia/Oceania - Australia Eastern Daylight Time     1
Name: count, dtype: int64

In [45]:
# Let's remove these from our responses

responses_cleaned = responses_cleaned[~responses_cleaned.Email.str.contains('gmail')].reset_index(drop = True)

In [46]:
# We still have a decent amount of responses from Africa

responses_cleaned.TimeZone.value_counts()

TimeZone
Africa - Central Africa Time                      45
United Kingdom - Greenwich Mean                   20
Americas - Eastern Standard Time                  10
Europe - Central European Time                     4
Asia/Oceania - Australia Eastern Daylight Time     3
Name: count, dtype: int64

In [47]:
# Let's get rid of those who answered "None of these dates work"

responses_cleaned = responses_cleaned[
    ~(
        (responses_cleaned['UK'].str.contains("None of these", na=False)) |
        (responses_cleaned['Europe'].str.contains("None of these", na=False)) |
        (responses_cleaned['Americas'].str.contains("None of these", na=False)) |
        (responses_cleaned['Asia/Oceana'].str.contains("None of these", na=False)) |
        (responses_cleaned['Africa'].str.contains("None of these", na=False))
    )
]

In [48]:
VIPs = ['Irena Vipavc Brvar', 'Rajeev Samarage', 'Paula Lackie', 'Alita Nandi', 'Winny Nekesa AKULLO', 'San Cannon', 'Ricarda Braukmann', 'Deb Wiltshire', 'Olatunbosun Obileye', 'Wei Yin', 'Bobray Bordelon']

In [49]:
# Let's create a column based on whether the respondent is on our VIP list

responses_cleaned['Invited'] = responses_cleaned['Name'].isin(VIPs).map({True: 'Yes', False: 'No'})

In [27]:
# Let's sort values with our VIPs at the top

responses_cleaned = responses_cleaned.sort_values(by = 'Invited', ascending = False).reset_index(drop = True)

In [93]:
# Create regex function for sorting out names
# Get rid of everything that starts with a day
# Starting with a capital, ending in day 
# Remove any th, rd
# Remove all parentheses
# Replace March with _03

def ch_data_type(df):
    cols_to_string = ["Africa", "Americas", "Asia/Oceana", "UK", "Europe"]
    for col in cols_to_string:
        df[col] = df[col].astype(str)
    return df

In [96]:
as_string = ch_data_type(responses_cleaned)

In [105]:
def tidy_names(inputs):
    days = re.sub(r'(Mon|Tues|Wednes|Thurs|Fri)day ', r'', inputs)
    return days

In [99]:
days = ['Monday', 'Tuesday', 'Wednesday', 'Saturday']
spare_data = [1, 2, 3, 3]

In [100]:
test = pd.DataFrame(days, spare_data)

In [101]:
test

           0
1     Monday
2    Tuesday
3  Wednesday
3   Saturday

In [103]:
test_output = [tidy_names(days) for name in days]

TypeError: expected string or bytes-like object

In [ ]:
# Split out Africa time slots first
#

In [65]:
responses_cleaned['Africa'] = responses_cleaned['Africa'].astype(str)

In [69]:
responses_cleaned["Africa"].apply(type)

0     <class 'str'>
1     <class 'str'>
2     <class 'str'>
3     <class 'str'>
4     <class 'str'>
          ...
75    <class 'str'>
76    <class 'str'>
78    <class 'str'>
79    <class 'str'>
80    <class 'str'>
Name: Africa, Length: 79, dtype: object

In [70]:
responses_cleaned['Africa']

0                                                                                                          nan
1                                                                                                          nan
2                                                                                                          nan
3     Wednesday 12th March (12:00-13:00),Wednesday 19th March (11:00-12:30),Wednesday 26th March (17:00-18:30)
4                                                                                                          nan
                                                        ...
75                                                                                                         nan
76                                                                          Wednesday 26th March (17:00-18:30)
78                                                                                                         nan
79                                                                                                         nan
80                                                                                                         nan
Name: Africa, Length: 79, dtype: object

In [28]:
# Combine all regional time slots into a single column per person
responses_cleaned["Available_Slots"] = responses_cleaned[['Africa', 'UK', 'Europe', 'Americas', 'Asia/Oceana']].apply(
    lambda row: [slot.strip() for slot in ', '.join(map(str, filter(None, row))).split('; ') if slot.strip()],
    axis=1
)

In [29]:
all_time_slots = sorted(set(slot.strip() for col in ['Africa', 'UK', 'Europe', 'Americas', 'Asia/Oceana']
                            for slots in responses_cleaned[col].dropna().str.split(', ') for slot in slots))

In [30]:
all_time_slots[:2]

['Monday 10th March (06:30-08:00)',
 'Monday 10th March (06:30-08:00),Tuesday 18th March (14:30-16:00),Wednesday 19th March (09:00-10:30)']

In [31]:
for slot in all_time_slots:
    responses_cleaned[slot] = "No"

In [32]:
responses_cleaned

,Finished,ResponseId,Name,Organisation,Email,Country,TimeZone,Africa,UK,Europe,...,"Wednesday 12th March (17:00-18:30),Tuesday 1st April (16:00-17:30),Wednesday 2nd April (17:00-18:30)","Wednesday 12th March (17:00-18:30),Wednesday 26th March (10:00-11:30),Tuesday 1st April (16:00-17:30),Wednesday 2nd April (17:00-18:30)",Wednesday 19th March (09:00-10:30),"Wednesday 19th March (10:00-11:30),Wednesday 26th March (16:00-17:30)",Wednesday 19th March (11:00-12:30),Wednesday 26th March (10:00-11:30),"Wednesday 26th March (10:00-11:30),Tuesday 1st April (16:00-17:30),Wednesday 2nd April (17:00-18:30)",Wednesday 26th March (15:00-16:30),Wednesday 26th March (16:00-17:30),Wednesday 26th March (17:00-18:30)
0,TRUE,R_88ONwSAHVd3ho4I,Deb Wiltshire,GESIS-Leibniz Institute for the Social Ssciences,deborah.wiltshire@gesis.org,Germany,Europe - Central European Time,NaN,NaN,"Wednesday 19th March (10:00-11:30),Wednesday 26th March (16:00-17:30)",...,No,No,No,No,No,No,No,No,No,No
1,TRUE,R_84Oxz6ICSQRdHLR,Irena Vipavc Brvar,"Slovenian Social Science Data Archives, University of Ljubljana",irena.vipavc@fdv.uni-lj.si,Slovenia,Europe - Central European Time,NaN,NaN,Wednesday 26th March (16:00-17:30),...,No,No,No,No,No,No,No,No,No,No
2,TRUE,R_2ozYo7JQqvn14yZ,Ricarda Braukmann,DANS,ricarda.braukmann@dans.knaw.nl,The Netherlands,Europe - Central European Time,NaN,NaN,"Tuesday 18th March (15:30-17:00),Wednesday 19th March (10:00-11:30),Wednesday 26th March (16:00-17:30)",...,No,No,No,No,No,No,No,No,No,No
3,TRUE,R_8sjFUAAIAQ9Nw5T,Alita Nandi,"ISER, University of Essex",anandi@essex.ac.uk,UK,United Kingdom - Greenwich Mean,NaN,"Tuesday 18th March (14:30-16:00),Wednesday 19th March (09:00-10:30),Wednesday 26th March (15:00-16:30)",NaN,...,No,No,No,No,No,No,No,No,No,No
4,TRUE,R_7y9tmTCqblYKEYf,Paula Lackie,Carleton College,plackie@carleton.edu,United states,Americas - Eastern Standard Time,NaN,NaN,NaN,...,No,No,No,No,No,No,No,No,No,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
74,TRUE,R_8cc5zi1sJNesU0r,Peter-Mario Efesiri EFENYUMI,"Department of Accountancy, Nnamdi Azikiwe University, Awka, Nigeria",pe.efenyumi@stu.unizik.edu.ng,Nigeria,Africa - Central Africa Time,Wednesday 12th March (12:00-13:00),NaN,NaN,...,No,No,No,No,No,No,No,No,No,No
75,TRUE,R_24tGxIka7uLUNro,Makun GANA,Bingham University,makun.gana@binghamuni.edu.ng,Nigeria,Africa - Central Africa Time,Wednesday 12th March (12:00-13:00),NaN,NaN,...,No,No,No,No,No,No,No,No,No,No
76,TRUE,R_7i4V3tNszL266Qh,James Burke,Mount Holyoke College,jburke@mtholyoke.edu,United States,Americas - Eastern Standard Time,NaN,NaN,NaN,...,No,No,No,No,No,No,No,No,No,No
77,TRUE,R_7wBvcb6NmduTOvn,Whitney Kramer,Cornell University,wbk39@cornell.edu,United States,Americas - Eastern Standard Time,NaN,NaN,NaN,...,No,No,No,No,No,No,No,No,No,No
78,TRUE,R_4bOFKJbXfLIay1y,Hye-ok Heo,Korea Social Science Data Archive,hyeokh@snu.ac.kr,Republic of Korea,United Kingdom - Greenwich Mean,NaN,"Monday 10th March (06:30-08:00),Tuesday 18th March (14:30-16:00),Wednesday 26th March (15:00-16:30)",NaN,...,No,No,No,No,No,No,No,No,No,No