In [1]:
%%capture                         
                                  # This capture statement is optional and you can delete it or put a hashtag in front of it.
                                  # Removing it will show all the "chatter" normally produced during import steps. 

# !pip install os
import os                         # os is a module for navigating your machine (e.g., file directories).
# !pip install wheel
# !pip install pandas 
import pandas as pd               # pandas is necessary for working with data frames - shortening it to pd just saves time. 
pd.set_option('display.max_colwidth', 200)   # some of the files are big so set a big column width. 
# !pip install numpy
import numpy as np                # like pandas, numpy is useful and useful to have a short name for
# !pip install statistics
import statistics                 # gotsta have stats
# !pip install matplotlib
import matplotlib as plt          # we are gonna want some plots


# !pip install csv
import csv                        # csv is for importing and working with csv files
import re

In [2]:
# Sorry Jools, I rewrote this for my mac but just comment out my line when you run it!

print(os.listdir("../raw_data")  )     
# print(os.listdir("..\\raw_data")  )  # check 'raw_data' folder is not empty/has correct stuff and to know what is the correct file to import

['focus_groups_1202.csv', 'focus_groups_0702.csv']

In [3]:
focus_group_respondents = pd.read_csv('../raw_data/focus_groups_1202.csv')  # import the file selected in the previous step
print(len(focus_group_respondents))                                         # check the length of the file
# focus_group_respondents.head(4)

219

In [4]:
print(focus_group_respondents.columns)                                                                     # a quick check to see what the column names look like
focus_group_respondents.columns = focus_group_respondents.columns.to_series().apply(lambda x: x.strip())   # renames the columns the same as what they were but with no trailing white space
print(focus_group_respondents.columns)

Index(['StartDate', 'EndDate', 'Status', 'IPAddress', 'Progress',
       'Duration (in seconds)', 'Finished', 'RecordedDate', 'ResponseId',
       'RecipientLastName', 'RecipientFirstName', 'RecipientEmail',
       'ExternalReference', 'LocationLatitude', 'LocationLongitude',
       'DistributionChannel', 'UserLanguage', 'Q1', 'Q2', 'Q3', 'Q4', 'Q5',
       'Africa', 'UK', 'Europe', 'Americas ', 'Asia/Oceana ', 'Q6.5', 'Q7',
       'Q8'],
      dtype='object')
Index(['StartDate', 'EndDate', 'Status', 'IPAddress', 'Progress',
       'Duration (in seconds)', 'Finished', 'RecordedDate', 'ResponseId',
       'RecipientLastName', 'RecipientFirstName', 'RecipientEmail',
       'ExternalReference', 'LocationLatitude', 'LocationLongitude',
       'DistributionChannel', 'UserLanguage', 'Q1', 'Q2', 'Q3', 'Q4', 'Q5',
       'Africa', 'UK', 'Europe', 'Americas', 'Asia/Oceana', 'Q6.5', 'Q7',
       'Q8'],
      dtype='object')

In [5]:
focus_group_respondents.head()

,StartDate,EndDate,Status,IPAddress,Progress,Duration (in seconds),Finished,RecordedDate,ResponseId,RecipientLastName,...,Q4,Q5,Africa,UK,Europe,Americas,Asia/Oceana,Q6.5,Q7,Q8
0,Start Date,End Date,Response Type,IP Address,Progress,Duration (in seconds),Finished,Recorded Date,Response ID,Recipient Last Name,...,Which country is your organisation based in?,We have a list of focus group sessions. Which of the following regions/time zones would you prefer to see the possible options in?,We currently have focus groups on the following dates in Central Africa Time. Please indicate which of the following you could attend. Tick all that apply.,We currently have focus groups on the following dates in Greenwich Mean Time. Please indicate which of the following you could attend. Tick all that apply.,We currently have focus groups on the following dates in Central European Time. Please indicate which of the following you could attend. Tick all that apply.,We currently have focus groups on the following dates in Eastern Standard Time. Please indicate which of the following you could attend. Tick all that apply.,We currently have focus groups on the following dates in Australian Eastern Daylight Time. Please indicate which of the following you could attend. Tick all that apply.,Please add any further information about your availability if relevant,Please enter your preferred name and pronouns,Are there any accommodations that you would need during the focus group?
1,"{""ImportId"":""startDate"",""timeZone"":""America/Denver""}","{""ImportId"":""endDate"",""timeZone"":""America/Denver""}","{""ImportId"":""status""}","{""ImportId"":""ipAddress""}","{""ImportId"":""progress""}","{""ImportId"":""duration""}","{""ImportId"":""finished""}","{""ImportId"":""recordedDate"",""timeZone"":""America/Denver""}","{""ImportId"":""_recordId""}","{""ImportId"":""recipientLastName""}",...,"{""ImportId"":""QID13_TEXT""}","{""ImportId"":""QID18""}","{""ImportId"":""QID24""}","{""ImportId"":""QID22""}","{""ImportId"":""QID8""}","{""ImportId"":""QID19""}","{""ImportId"":""QID21""}","{""ImportId"":""QID9_TEXT""}","{""ImportId"":""QID6_TEXT""}","{""ImportId"":""QID10_TEXT""}"
2,2025-01-30 04:25:03,2025-01-30 04:27:28,IP Address,193.175.238.232,100,145,True,2025-01-30 04:27:29,R_88ONwSAHVd3ho4I,NaN,...,Germany,Europe - Central European Time,NaN,NaN,"Wednesday 19th March (10:00-11:30),Wednesday 26th March (16:00-17:30)",NaN,NaN,NaN,Deb (she/her),NaN
3,2025-01-30 04:55:08,2025-01-30 04:58:29,IP Address,192.87.139.123,100,201,True,2025-01-30 04:58:30,R_2ozYo7JQqvn14yZ,NaN,...,The Netherlands,Europe - Central European Time,NaN,NaN,"Tuesday 18th March (15:30-17:00),Wednesday 19th March (10:00-11:30),Wednesday 26th March (16:00-17:30)",NaN,NaN,NaN,Ricarda - she/her,no but thanks for asking
4,2025-01-30 05:16:09,2025-01-30 05:20:10,IP Address,2.103.233.180,100,241,True,2025-01-30 05:20:11,R_89ohxfbj7gW6Fgw,NaN,...,UK and US,United Kingdom - Greenwich Mean,NaN,"Tuesday 18th March (14:30-16:00),Wednesday 19th March (09:00-10:30),Wednesday 26th March (15:00-16:30)",NaN,NaN,NaN,NaN,San she/her,No

In [6]:
focus_group_respondents = focus_group_respondents[focus_group_respondents['Finished'] == 'True'].reset_index(drop = True)

In [7]:
focus_group_respondents.head()

,StartDate,EndDate,Status,IPAddress,Progress,Duration (in seconds),Finished,RecordedDate,ResponseId,RecipientLastName,...,Q4,Q5,Africa,UK,Europe,Americas,Asia/Oceana,Q6.5,Q7,Q8
0,2025-01-30 04:25:03,2025-01-30 04:27:28,IP Address,193.175.238.232,100,145,True,2025-01-30 04:27:29,R_88ONwSAHVd3ho4I,NaN,...,Germany,Europe - Central European Time,NaN,NaN,"Wednesday 19th March (10:00-11:30),Wednesday 26th March (16:00-17:30)",NaN,NaN,NaN,Deb (she/her),NaN
1,2025-01-30 04:55:08,2025-01-30 04:58:29,IP Address,192.87.139.123,100,201,True,2025-01-30 04:58:30,R_2ozYo7JQqvn14yZ,NaN,...,The Netherlands,Europe - Central European Time,NaN,NaN,"Tuesday 18th March (15:30-17:00),Wednesday 19th March (10:00-11:30),Wednesday 26th March (16:00-17:30)",NaN,NaN,NaN,Ricarda - she/her,no but thanks for asking
2,2025-01-30 05:16:09,2025-01-30 05:20:10,IP Address,2.103.233.180,100,241,True,2025-01-30 05:20:11,R_89ohxfbj7gW6Fgw,NaN,...,UK and US,United Kingdom - Greenwich Mean,NaN,"Tuesday 18th March (14:30-16:00),Wednesday 19th March (09:00-10:30),Wednesday 26th March (15:00-16:30)",NaN,NaN,NaN,NaN,San she/her,No
3,2025-01-30 10:42:43,2025-01-30 10:49:41,IP Address,41.210.143.197,100,418,True,2025-01-30 10:49:42,R_2KW2mNG3pRimy3v,NaN,...,Uganda,Africa - Central Africa Time,"Wednesday 12th March (12:00-13:00),Wednesday 19th March (11:00-12:30),Wednesday 26th March (17:00-18:30)",NaN,NaN,NaN,NaN,NaN,Winny,Not applicable
4,2025-01-31 03:48:07,2025-01-31 03:54:52,IP Address,147.161.145.75,100,405,True,2025-01-31 03:54:52,R_8gHGMk2rHCF5ahm,NaN,...,UK,United Kingdom - Greenwich Mean,NaN,"Tuesday 18th March (14:30-16:00),Wednesday 19th March (09:00-10:30),Wednesday 26th March (15:00-16:30)",NaN,NaN,NaN,NaN,Yan (pronounce as https://www.youtube.com/watch?v=mBcZjUD_XZs),Is this an offline session?

In [8]:
responses = focus_group_respondents.loc[:, ['Finished', 'ResponseId',
                                            'Q1', 'Q2', 'Q3', 'Q4', 'Q5', 'Africa', 'UK', 'Europe', 'Americas', 'Asia/Oceana', 'Q6.5', 'Q7','Q8']]

print(len(responses))

165

In [9]:
responses.head()

,Finished,ResponseId,Q1,Q2,Q3,Q4,Q5,Africa,UK,Europe,Americas,Asia/Oceana,Q6.5,Q7,Q8
0,True,R_88ONwSAHVd3ho4I,Deb Wiltshire,GESIS-Leibniz Institute for the Social Ssciences,deborah.wiltshire@gesis.org,Germany,Europe - Central European Time,NaN,NaN,"Wednesday 19th March (10:00-11:30),Wednesday 26th March (16:00-17:30)",NaN,NaN,NaN,Deb (she/her),NaN
1,True,R_2ozYo7JQqvn14yZ,Ricarda Braukmann,DANS,ricarda.braukmann@dans.knaw.nl,The Netherlands,Europe - Central European Time,NaN,NaN,"Tuesday 18th March (15:30-17:00),Wednesday 19th March (10:00-11:30),Wednesday 26th March (16:00-17:30)",NaN,NaN,NaN,Ricarda - she/her,no but thanks for asking
2,True,R_89ohxfbj7gW6Fgw,San Cannon,Cannon Analytics LLC,San@cannonanalyticsllc.com,UK and US,United Kingdom - Greenwich Mean,NaN,"Tuesday 18th March (14:30-16:00),Wednesday 19th March (09:00-10:30),Wednesday 26th March (15:00-16:30)",NaN,NaN,NaN,NaN,San she/her,No
3,True,R_2KW2mNG3pRimy3v,Winny Nekesa AKULLO,National.Social Security Fund,winny.nekesa@yahoo.com,Uganda,Africa - Central Africa Time,"Wednesday 12th March (12:00-13:00),Wednesday 19th March (11:00-12:30),Wednesday 26th March (17:00-18:30)",NaN,NaN,NaN,NaN,NaN,Winny,Not applicable
4,True,R_8gHGMk2rHCF5ahm,Weigang Yan,London Borough of Islington,weigang.yan@islington.gov.uk,UK,United Kingdom - Greenwich Mean,NaN,"Tuesday 18th March (14:30-16:00),Wednesday 19th March (09:00-10:30),Wednesday 26th March (15:00-16:30)",NaN,NaN,NaN,NaN,Yan (pronounce as https://www.youtube.com/watch?v=mBcZjUD_XZs),Is this an offline session?

In [10]:
responses_cleaned = responses.rename(columns={"Q1": "Name", "Q2": "Organisation", "Q3": "Email", "Q4": "Country", "Q5": "TimeZone", "Q6.5": "Any_further_info", "Q7": "Pronouns", "Q8": "Accommodations"})

To sort:

* Drop any rows where key info is missing: name, email, org
* Drop those if they have an email without a name or org? Depends how many
There is no missing values for any of these columns

* Drop those with gmail accounts?
Without, we still have 45 respondents from Africa.

* Drop any rows that have no time slots booked and no comments in the "Other" column
Only 3 values but have been removed.

In [11]:
gmail = responses_cleaned[responses_cleaned.Email.str.contains('gmail')].reset_index(drop = True)

In [12]:
gmail.TimeZone.value_counts()

TimeZone
Africa - Central Africa Time                      65
United Kingdom - Greenwich Mean                    2
Asia/Oceania - Australia Eastern Daylight Time     1
Name: count, dtype: int64

In [13]:
# Let's remove these from our responses

responses_cleaned = responses_cleaned[~responses_cleaned.Email.str.contains('gmail')].reset_index(drop = True)

In [14]:
# We still have a decent amount of responses from Africa

responses_cleaned.TimeZone.value_counts()

TimeZone
Africa - Central Africa Time                      48
United Kingdom - Greenwich Mean                   23
Americas - Eastern Standard Time                  15
Asia/Oceania - Australia Eastern Daylight Time     6
Europe - Central European Time                     5
Name: count, dtype: int64

In [15]:
# Let's get rid of those who answered "None of these dates work"

responses_cleaned = responses_cleaned[
    ~(
        (responses_cleaned['UK'].str.contains("None of these", na=False)) |
        (responses_cleaned['Europe'].str.contains("None of these", na=False)) |
        (responses_cleaned['Americas'].str.contains("None of these", na=False)) |
        (responses_cleaned['Asia/Oceana'].str.contains("None of these", na=False)) |
        (responses_cleaned['Africa'].str.contains("None of these", na=False))
    )
]

In [16]:
VIPs = ['Irena Vipavc Brvar', 'Rajeev Samarage', 'Paula Lackie', 'Alita Nandi', 'Winny Nekesa AKULLO', 'San Cannon', 'Ricarda Braukmann', 'Deb Wiltshire', 'Olatunbosun Obileye', 'Wei Yin', 'Bobray Bordelon']

In [17]:
# Let's create a column based on whether the respondent is on our VIP list

responses_cleaned['Invited'] = responses_cleaned['Name'].isin(VIPs).map({True: 'Yes', False: 'No'})

In [18]:
# Let's sort values with our VIPs at the top

responses_cleaned = responses_cleaned.sort_values(by = 'Invited', ascending = False).reset_index(drop = True)

# Top countries and time zones

In [19]:
responses_cleaned.Country.value_counts()

Country
Nigeria              23
United States         9
United Kingdom        9
Uganda                6
Nigeria               5
South Africa          4
Germany               3
Kenya                 3
Canada                3
UK                    3
UGANDA                2
Australia             2
UK and US             1
China                 1
Gulu University       1
Nigeria.              1
Ghana                 1
USA                   1
UGANDA                1
The Netherlands       1
United states         1
ROK (South Korea)     1
Republic of Korea     1
Sweden                1
Brazil                1
Taiwan                1
The UK                1
KENYA                 1
Iceland               1
kenya                 1
Norway                1
Rwanda                1
Slovenia              1
NIGERIA               1
Name: count, dtype: int64

In [20]:
responses_cleaned.TimeZone.value_counts()

TimeZone
Africa - Central Africa Time                      48
United Kingdom - Greenwich Mean                   21
Americas - Eastern Standard Time                  15
Europe - Central European Time                     5
Asia/Oceania - Australia Eastern Daylight Time     5
Name: count, dtype: int64

In [21]:
len(responses_cleaned)

94

In [22]:
responses_cleaned.to_csv("../cleaned_data/responses_cleaned.csv", index=False)

# Regex stuff..

In [23]:
# Create regex function for sorting out names
# Get rid of everything that starts with a day
# Starting with a capital, ending in day 
# Remove any th, rd
# Remove all parentheses
# Replace March with _03

def ch_data_type(df):
    cols_to_string = ["Africa", "Americas", "Asia/Oceana", "UK", "Europe"]
    for col in cols_to_string:
        df[col] = df[col].astype(str)
    return df

In [24]:
as_string = ch_data_type(responses_cleaned)

In [25]:
def tidy_names(inputs):
    for thingy in inputs[0]:
        print("Before Substitution: " + thingy)
        days = re.sub(r'(Mon|Tues|Wednes|Thurs|Fri)day ', r'', thingy)
        print("After Substitution: " + days)
#    return days

In [26]:
days = ['Monday ', 'Tuesday ', 'Wednesday ', 'Saturday ']
spare_data = [1, 2, 3, 3]

In [27]:
test = pd.DataFrame(days, spare_data)

In [28]:
test

            0
1     Monday
2    Tuesday
3  Wednesday
3   Saturday

In [29]:
tidy_names(test)

Before Substitution: Monday
After Substitution:
Before Substitution: Tuesday
After Substitution:
Before Substitution: Wednesday
After Substitution:
Before Substitution: Saturday
After Substitution: Saturday

In [30]:
test['Africa'] = days
test['Americas'] = days
test['UK'] = days
test['Europe'] = spare_data
test

            0      Africa    Americas          UK  Europe
1     Monday      Monday      Monday      Monday        1
2    Tuesday     Tuesday     Tuesday     Tuesday        2
3  Wednesday   Wednesday   Wednesday   Wednesday        3
3   Saturday    Saturday    Saturday    Saturday        3

In [31]:
def tidy_names_multi_column(inputs):
    for thingy in inputs:
        for whatchamacallit in inputs[thingy]:
            if type(whatchamacallit) == str:
                print("Before Substitution: " + whatchamacallit)
                days = re.sub(r'(Mon|Tues|Wednes|Thurs|Fri)day ', r'', whatchamacallit)
                print("After Substitution: " + days)
    return days

In [32]:
tidy_names_multi_column(test)

Before Substitution: Monday
After Substitution:
Before Substitution: Tuesday
After Substitution:
Before Substitution: Wednesday
After Substitution:
Before Substitution: Saturday
After Substitution: Saturday
Before Substitution: Monday
After Substitution:
Before Substitution: Tuesday
After Substitution:
Before Substitution: Wednesday
After Substitution:
Before Substitution: Saturday
After Substitution: Saturday
Before Substitution: Monday
After Substitution:
Before Substitution: Tuesday
After Substitution:
Before Substitution: Wednesday
After Substitution:
Before Substitution: Saturday
After Substitution: Saturday
Before Substitution: Monday
After Substitution:
Before Substitution: Tuesday
After Substitution:
Before Substitution: Wednesday
After Substitution:
Before Substitution: Saturday
After Substitution: Saturday

'Saturday '

In [33]:
shortened_days

NameError: name 'shortened_days' is not defined

In [ ]:
as_string.iloc[3]['Africa']

In [ ]:
# Split out Africa time slots first
#

In [ ]:
responses_cleaned['Africa'] = responses_cleaned['Africa'].astype(str)

In [ ]:
responses_cleaned["Africa"].apply(type)

In [ ]:
responses_cleaned['Africa']

In [ ]:
# Combine all regional time slots into a single column per person
responses_cleaned["Available_Slots"] = responses_cleaned[['Africa', 'UK', 'Europe', 'Americas', 'Asia/Oceana']].apply(
    lambda row: [slot.strip() for slot in ', '.join(map(str, filter(None, row))).split('; ') if slot.strip()],
    axis=1
)

In [ ]:
all_time_slots = sorted(set(slot.strip() for col in ['Africa', 'UK', 'Europe', 'Americas', 'Asia/Oceana']
                            for slots in responses_cleaned[col].dropna().str.split(', ') for slot in slots))

In [ ]:
all_time_slots[:2]

In [ ]:
for slot in all_time_slots:
    responses_cleaned[slot] = "No"

In [ ]:
responses_cleaned